.header {
  border-bottom: 1px solid #ccc;
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    h1 {
      margin-bottom: 0;
      margin-top: 10px;
    }
    p {
    }
  }
  .navbar {
    @include maxMobile {
      position: absolute;
      padding: 5px 0;
      z-index: 999;
      right: 25px; // in rtl right: auto; left:25px;
      top: 72px;
      min-width: 200px;
      background-color: $mainColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 0.5s;
      user-select: none;
      border-radius: 6px;
      display: none;
      &::before {
        content: "";
        position: absolute;
        right: 5px;
        top: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: $mainColor transparent transparent;
      }
      &.show {
        display: flex;
      }
      a {
        text-decoration: none;
        color: #fff;
        padding: 15px;
        position: relative;
        transition: 0.5s;
      }
      a:hover {
        padding-left: 25px;
      }
    }
    display: flex;
    background-color: $mainColor;
    border-radius: 10px;
    a {
      display: block;
      padding: 15px 10px;
      color: #fff;
      &:hover {
        color: #ddd;
      }
    }
  }
}
